.case-jeu{
    width: 40px;
    height: 40px;
    line-height: 35px;
    border: 1px solid #4f4f4f;
    font-family: 'Pacifico', cursive;
    box-shadow: 2px 1px 1px #9d9db8;
    border-radius: 7px;
    font-size: 23px;
    position: relative;
    font-weight: bold;
    @media (min-width: 1024px) {
        width: 60px;
        height: 60px;
        line-height: 52px;
    }
}


.item{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 31px;
    cursor: pointer;
}

.item:hover{
    font-size: 35px;
}

.point{
    position: absolute;
    width: 100%;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f75708;
    font-size: 12px;
    background-color: white;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.soluce{
    background-color: rgb(230, 163, 173) !important;
    color:white !important;
}
.container-ligne{
    width: auto;
    margin: 0 auto 0.2rem 0;
    @media (min-width: 1024px) {
        margin: 0 auto 0.3rem 0;
    }   
}
.hover-case:hover{
    color : rgb(113, 113, 179);
    background-color: pink;
    cursor: pointer;
}

.active{
    background: #b695d3 !important;
    color: white !important;
}

.active-echange-mode{
    background: #4da157 !important;
    color: white !important;
}

.main{
    width: 95%;
    margin: 3em 0 13vh 0;
    text-align: center;
    max-width: 395px;
    
    @media (min-width: 1024px) {
        max-width: 577px;
    }
}

.proposal{
    background-color: #b981a8 !important;
    border: 1px dotted #ffffff;
}


.green{
    color: #73bb73;
    background-color: #f1fff1;
}

.yellow{
    color: #ff8f00;
    background-color: #f9e7d1;
}

.white{
    color: #4db5d7;
    background-color: #e9f5f9;
}

.purple{
    background: #e5dfed;
    color: #7c32bd; 
}

.pink{
    color: #dd42ac;
    background-color:#e5dae2;
}
.not-visible{
    background-color: #d3d3d347;
    color: #74717127;
    border: 1px solid #747171d1
}

.removeLine{
    animation-name: removeLine;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-timing-function: linear ;
    animation-fill-mode: forwards;
}


@keyframes removeLine{
    0%{
       background-color:  rgb(33 22 59);
    }
    10%{
        background-color: lightgreen;
    }
    11%{
        background-color: lightgreen;

    }90%{
        background-color: lightgreen;
    }
    100%{
       background-color:  rgb(33 22 59);
    }
}


