.case-jeu{
    width: 30px;
    height: 30px;
    line-height: 23px;
    border: 1px solid #4f4f4f;
    font-family: 'Pacifico', cursive;
    box-shadow: 2px 1px 1px #9d9db8;
    border-radius: 7px;
    font-size: 23px;
    position: relative;
    font-weight: bold;
    @media (min-width: 1024px) {
        width: 40px;
        height: 40px;
        line-height: 38px;
    }
}
.case-jeu:not(:last-child){
    margin-right: 6px;
    margin-bottom: 5px;
}
.case-jeu:first-child{
    margin-left: 10px;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    color:var(--text-color);
    background-color: var(--second-color-background);
    z-index: 2;
}


.item{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 31px;
    cursor: pointer;
}

.item:hover{
    font-size: 35px;
}

.soluce{
    background-color: rgb(230, 163, 173) !important;
    color:white !important;
}
.container-ligne{
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}
.hover-case:hover{
    color : rgb(113, 113, 179);
    background-color: pink;
    cursor: pointer;
}


.active{
    background: #b695d3 !important;
    color: white !important;
}

.main{
    width: 90%;
    margin: 3em 0 13vh 0;
    text-align: center;
    
    @media (min-width: 1024px) {
        width: 60%;
    }
}

.proposal{
    background-color: #b981a8;
    border: 1px dotted #ffffff;
}

.left-right{
    width: 35%;
    position: relative;
}

.left-right:first-child{
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
    
}


.green{
    color: #73bb73;
    background-color: #f1fff1;
}

.yellow{
    color: #ff8f00;
    background-color: #f9e7d1;
}

.white{
    color: #4db5d7;
    background-color: #e9f5f9;
}

.blue{
    color: lightblue; 
}

.pink{
    color: #dd42ac;
    background-color:#e5dae2;
}
.not-visible{
    background-color: #d3d3d347;
    color: #00000045;
}

.score{
    background-color: var(--main-color-background);
    padding: 5px;
    border-radius: 10px;
    color: var(--text-color)
}


.removeLine{
    animation-name: removeLine;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear ;
    animation-fill-mode: forwards;
}


@keyframes removeLine{
    0%{
       background-color:  rgb(33 22 59);
    }
    10%{
        background-color: lightgreen;
    }
    11%{
        background-color: lightgreen;

    }90%{
        background-color: lightgreen;
    }
    100%{
       background-color:  rgb(33 22 59);
    }
}

.symbole{
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    transition: 0.2s ease-in-out;
}

.symbole:hover{
    background-color: var(--main-color-background);
}
