span{
    font-size: 2em;
    border: 1px solid rgb(56, 37, 100);
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    display: block;
    width: calc(100% / 10);
    position: relative;
}

.item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: yellow;
    width: 30px;
    height: 30px;
    
}

.soluce{
    background-color: rgb(230, 163, 173)
}
.container-ligne{
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}
span:hover{
    color : rgb(113, 113, 179)
}

.active{
    background-color: aqua 
}

.main{
    width: 90%;
    margin: 3em 0 13vh 0;
    text-align: center;
    
    @media (min-width: 1024px) {
        width: 60%;
    }
}

.proposal{
    background-color: #b981a8;
    border: 1px dotted #ffffff;
}

.left-right{
    width: 35%;
    position: relative;
}

.left-right:first-child{
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
    
}

h1{
    color: white;
    margin-bottom: 1em;
}

.green{
    color: #37f537
}

.yellow{
    color: yellow
}

.white{
    color: white
}

.blue{
    color: lightblue
}

.pink{
    color: #ff21b9
}
.not-visible{
    color: #3f3e3e9c;
}

.removeLine{
    animation-name: removeLine;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear ;
    animation-fill-mode: forwards;
}


@keyframes removeLine{
    0%{
       background-color:  rgb(33 22 59);
    }
    10%{
        background-color: lightgreen;
    }
    11%{
        background-color: lightgreen;

    }90%{
        background-color: lightgreen;
    }
    100%{
       background-color:  rgb(33 22 59);
    }
}

