
.container-popup-reload-party-height{
    height: 30vh;
}

.container-popup-options-height{
    height: 50vh;
}

.container-popup{
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid var(--second-color-background);
    border-radius: 7px;
    background-color: #F0EDF3;

    @media (min-width: 1024px) {
        width: 30%;
    }
   
}

h1{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}
.popup{
    position: relative;
    height: 100%;
}

main{
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: black;
    padding: 10px 0 10px 20px;
    margin: 0 auto;
    overflow: auto;
}

header{
    padding: 5px 16px;
    background-color: var(--second-color-background);
    height: 8vh;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(1.01);
}

svg{
    width: 40px;
}

footer{
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vh;
}
button{
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button-reset-colors{
    padding: 5px;
    width: 46%;
}

.right-button{
    background-color: var(--main-color-background);
}

button:hover{
    background-color: var(--second-color-background);
    color:var(--text-color)
}


.symbole{
    font-size: 40px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.symbole:hover{
    color: var(--scroll-bar)
}

.icone{
    width: 20px;
    margin-right: 10px;
}

.slider {
    accent-color: var(--scroll-bar);
}

.color{
    border:none;
    appearance: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.color::-webkit-color-swatch{
    border:1px solid black;
    border-radius: 2px;
}