.container-popup{
    position: fixed;
    height: 30vh;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rebeccapurple;
    background-color: rgb(142, 73, 211);

    @media (min-width: 1024px) {
        height: 30vh;
        width: 30%;
    }
   
}

h1{
    font-size: 20px;
}
.popup{
    position: relative;
    height: 100%;
}

main{
    background-color: rgb(142, 73, 211);
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
}


header{
    padding: 5px;
    background-color: rebeccapurple;
    height: 8vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

svg{
    width: 40px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
}
button{
    width: 50%;
    height: 100%;
    border-radius: 0;
}

.icone{
    width: 20px;
    margin-right: 10px;
}

.slider {
    accent-color: #ff35a0;
}
