.mb-1{
    margin-bottom: 1em;
}

.mb-0-4rem{
    margin-bottom: 0.4rem;
}

.mr-1{
    margin-right: 1em;
}

.mr-10px{
    margin-right: 10px;
}

.mt-1{
    margin-top: 1em;
}
.mt-2{
    margin-top: 2em;
}
.mt-3{
    margin-top: 3em;
}

.ml-4px{
    margin-left: 4px;
}

.ml-6px{
    margin-left: 6px;
}

.mr-nav-bar{
    margin-right: 0.2em;
    @media (min-width: 1024px) {
        margin-right: 1em;
    }
}

.padding-top{
    padding-top: 1em;
}