@import 'scroll-bar.scss';

:root {
    --main-color-background: #84B8C2;
    --second-color-background: #395E74;
    --scroll-bar: #FF00E6;
    --text-color: #ffffff ;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background: var(--main-color-background);
    min-height: 93.4vh;
}

.display-flex{
    display: flex;
}
.direction-column{
    flex-direction: column;
}

.row-to-column{
    flex-direction: row;

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.justify-center{
    justify-content: center;
}

.justify-space-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

.center{
    text-align: center;
}

.mb-1{
    margin-bottom: 1em;
}

.mr-1{
    margin-right: 1em;
}
.mr-10px{
    margin-right: 10px;
}

.mt-1{
    margin-top: 1em;
}

.mt-3{
    margin-top: 3em;
}

.mr-nav-bar{
    margin-right: 0.2em;
    @media (min-width: 1024px) {
        margin-right: 1em;
    }
}

.padding-top{
    padding-top: 1em;
}

h1{
    font-size: 16px;
}

.material-symbols-outlined{
    color:var(--text-color);
    font-variation-settings: 'wght' 200;
    
}