:root {
    --main-color-background: #84B8C2;
    --second-color-background: #395E74;
    --scroll-bar: #FF00E6;
    --text-color: #ffffff ;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

@import 'scroll-bar.scss';
@import 'flex.scss';
@import 'margin-padding.scss';
@import 'text.scss';
@import 'image-icone.scss';



#app {
    background: var(--main-color-background);
    min-height: 94.7vh;
}

.cursor-pointer{
    cursor: pointer;
}

.relative{
    position: relative;
}
